body{
    background-color: green;
    color: blue;
    font-size: 20;
}
h1{
    text-align: center;
    color: red;
}
span{
    font-weight: bolder;
    margin-left: 50px;
}
.first-child{
    margin-left:0;
    color: white;
}
h2{
    color: violet;
    margin-left: 100px;
    font-weight: bolder;
}
/*.contenedor{
    background-color: aqua;
    display: inline;
}*/