body{
    background-color: burlywood;
    font-family: sans-serif;
    font-size: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0px 0px 15px white;
    text-align: center;
    padding: 2rem;
}
button{
    cursor:pointer;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}
ul{
    list-style: none;
    padding: 0;    
}