body{
    background-color: green;
    color: blue;
    font-size: 20;
}
h1{
    text-align: center;
    color: red;
}
span{
    font-weight: bolder;
}
.first-child{
    color: white;
}
h2{
    color: violet;
    font-weight: bolder;
}

/*.contenedor{
    background-color: aqua;
    display: inline;
}*/