body{
    background-color: cadetblue;
    font-family: sans-serif;
    color: aqua;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#grid-container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4,minmax(min-content,max-content));
}
.selected-week{
    height: 100%;
}
.grid-item{
    padding: 10px;
    border: 5px solid #fff;
}
#submit{
    display: block;
    width: 30vw;
    padding: 9px 40px;
    background: blueviolet;
    color:yellowgreen;
    border: none;
    font-size: larger;
}
#submit:hover{
    opacity: 0.85;
}

